@{
    ViewBag.Title = "文章列表";
}

<div class="rightbar">
    <div class="mbx">您当前的位置：网站管理平台 > 信息审核</div>
    <div class="lmmc"><span>信息审核</span></div>
  <div class="ss">搜索</div>
  <table width="753" border="0" cellspacing="0" cellpadding="0" class="ssn">
      <tr>
        <td width="70" height="35">关键词：</td>
        <td height="35"><input type="text"  style="width:187px;"/></td>
        <td width="50" height="35">栏目：</td>
        <td height="35"><input type="text"  style="width:187px;"/></td>
        <td width="50" height="35">时间：</td>
        <td height="35"><input type="text"  style="width:187px;"/></td>
      </tr>
      <tr>
        <td height="35">栏目：</td>
        <td height="35" colspan="4"><input type="text"  style="width:475px;"/></td>
        <td height="35" align="right"><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_04.jpg")" width="80" height="23" /></a></td>
      </tr>
    </table>
    
    <table width="806" border="0" cellspacing="0" cellpadding="0" class="news">
      <tr>
        <td height="31" colspan="7" class="td1"><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_06.jpg")" /></a><img src="@Url.Content("~/ResBackstage/images/all_014.jpg")" /><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_07.jpg")"/></a><img src="@Url.Content("~/ResBackstage/images/all_014.jpg")" /><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_08.jpg")" /></a><img src="@Url.Content("~/ResBackstage/images/all_014.jpg")"  /><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_09.jpg")"/></a><img src="@Url.Content("~/ResBackstage/images/all_014.jpg")"  /><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_010.jpg")" /></a><img src="@Url.Content("~/ResBackstage/images/all_014.jpg")"  /><a href="#"><img src="@Url.Content("~/ResBackstage/images/all_011.jpg")" /></a></td>
      </tr>
      <tr>
        <td width="24" height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td width="42" height="29" class="td2 f12h" align="center">编号</td>
        <td width="305" height="29" class="td2 f12h" align="center">公司名称</td>
        <td width="90" class="td2 f12h" align="center">状态</td>
        <td width="90" height="29" class="td2 f12h" align="center">上传人</td>
        <td width="90" height="29" class="td2 f12h" align="center">注册时间</td>
        <td width="145" height="29" align="center" class="td2 f12h">操作</td>
      </tr>
      <tr>
        <td width="24" height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="24" height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="42" height="29" class="td3" align="center">01</td>
        <td height="29" class="td3 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td3 f12h2" align="center">未审核</td>
        <td width="100" height="29" class="td3 f12h1" align="center">admin</td>
        <td width="100" height="29" class="td3 f12h1" align="center">2012-11-12</td>
        <td class="td3" height="29" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td height="29" class="td2" align="center">01</td>
        <td height="29" class="td2 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td2 f12l" align="center">已审核</td>
        <td height="29" class="td2 f12h1" align="center">admin</td>
        <td height="29" class="td2 f12h1" align="center">2012-11-12</td>
        <td class="td2" height="29" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="42" class="td3" align="center">01</td>
        <td height="29" class="td3 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td3 f12h2" align="center">未审核</td>
        <td width="100" class="td3 f12h1" align="center">admin</td>
        <td width="100" class="td3 f12h1" align="center">2012-11-12</td>
        <td class="td3" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td class="td2" align="center">01</td>
        <td height="29" class="td2 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td2 f12l" align="center">已审核</td>
        <td class="td2 f12h1" align="center">admin</td>
        <td class="td2 f12h1" align="center">2012-11-12</td>
        <td class="td2" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="42" class="td3" align="center">01</td>
        <td height="29" class="td3 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td3 f12h2" align="center">未审核</td>
        <td width="100" class="td3 f12h1" align="center">admin</td>
        <td width="100" class="td3 f12h1" align="center">2012-11-12</td>
        <td class="td3" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td class="td2" align="center">01</td>
        <td height="29" class="td2 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td2 f12l" align="center">已审核</td>
        <td class="td2 f12h1" align="center">admin</td>
        <td class="td2 f12h1" align="center">2012-11-12</td>
        <td class="td2" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="42" class="td3" align="center">01</td>
        <td height="29" class="td3 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td3 f12h2" align="center">未审核</td>
        <td width="100" class="td3 f12h1" align="center">admin</td>
        <td width="100" class="td3 f12h1" align="center">2012-11-12</td>
        <td class="td3" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td class="td2" align="center">01</td>
        <td height="29" class="td2 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td2 f12l" align="center">已审核</td>
        <td class="td2 f12h1" align="center">admin</td>
        <td class="td2 f12h1" align="center">2012-11-12</td>
        <td class="td2" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td3" align="center"><input type="checkbox"/></td>
        <td width="42" class="td3" align="center">01</td>
        <td height="29" class="td3 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td3 f12h2" align="center">未审核</td>
        <td width="100" class="td3 f12h1" align="center">admin</td>
        <td width="100" class="td3 f12h1" align="center">2012-11-12</td>
        <td class="td3" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
      <tr>
        <td height="29" class="td2" align="center"><input type="checkbox"/></td>
        <td class="td2" align="center">01</td>
        <td height="29" class="td2 f12h1">上传新闻表列表上传新闻表列表上传新闻表列表上传</td>
        <td height="29" class="td2 f12l" align="center">已审核</td>
        <td class="td2 f12h1" align="center">admin</td>
        <td class="td2 f12h1" align="center">2012-11-12</td>
        <td class="td2" align="center"><a href="#">查看</a> | <a href="#">审核</a></td>
      </tr>
    </table>
    <div class="page">
    <div class="page_l">共有 <b style="color:#417eb7;">265</b> 条   当前第 <b style="color:#417eb7;">1</b> 页</div>
    <div class="sabrosus"><span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a></div>
  </div>
    
</div>
